<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Main menu</title>
</head>
<style>
    .uib-col-sm-4 {
        margin-left: 15px;
        margin-top: 15px;
    }
    .uib-col-sm-8{
        margin-left: 15px;
        margin-top: 15px;
    }
    .uib-list-group-item{
        margin-top: -5px;
        margin-left: -5px;
    }

</style>
<body ng-app="raceConditions">
    <div class="row">
        <div class="col-sm-4">
            <label for="avTabl">Available tables</label>
            <div class="list-group" ng-repeat="table in tables" ng-click="loadTable(table.id)" id="avTabl">
                <p class="list-group-item">{{table.realName}}</p>
            </div>
        </div>

        <div class="col-sm-8">
            <div class="tableCreate">
                <label for="tabName">Table name:</label>
                <input class="itext" type="text" ng-model = "newTable.tableName" id="tabName"/>
            </div>
            <div>
                <label for="attr">Attributes</label>
                <ul ng-repeat="att in newTable.columnNames track by $index" id="attr">
                    <li>
                        <input class="itext" type="text" ng-model ="newTable.columnNames[$index]"/>
                        <select ng-model="newTable.columnTypes[$index]" ng-options="x for x in attrTypes">Type</select>
                    </li>
                </ul>
                <button class="glyphicon glyphicon-plus" ng-click="addNewAttribute()"></button>
                <button class="glyphicon glyphicon-minus" ng-click="delNewAttribute()"></button>

            </div>
            <button ng-click="createTable()">Create new table</button>
        </div>
    </div>
</body>
</html>