<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Main menu</title>
</head>
<style>
    .uib-col-sm-4 {
        margin-left: 15px;
        margin-top: 15px;
    }
    .uib-col-sm-8{
        margin-left: 15px;
        margin-top: 15px;
    }
    .uib-list-group-item{
        margin-top: -5px;
        margin-left: -5px;
    }
</style>
<body ng-app="raceConditions">
    <div class="row">
        <div class="col-sm-4">
            <h2>Available tables</h2>
            <div class="list-group" ng-repeat="table in tables" ng-click="loadTable(table.id)">
                <p class="list-group-item">{{table.realName}}</p>
            </div>
        </div>

        <div class="col-sm-8">
            <div class="tableCreate">
                Table name: <input type="text" ng-model = "newTable.tableName"/>
            </div>
            <div>
                <h>Attributes</h>
                <ul ng-repeat="att in newTable.attributes">
                    <li>
                        <input type="text" ng-model ="newTable.attributes[$index].name"/>
                        <select ng-model="newTable.attributes[$index].type" ng-options="x for x in attrTypes">Type</select>
                    </li>
                </ul>
                <button class="glyphicon glyphicon-plus" ng-click="addNewAttribute()"></button>
                <button class="glyphicon glyphicon-minus" ng-click="delNewAttribute()"></button>

            </div>
            <button>Create new table</button>
            {{newTable}}
        </div>
    </div>
</body>
</html>