<!DOCTYPE html>
<html >
<head>
    <meta charset="UTF-8">
</head>

<body>
<style>
    table, th , td {
        border: 1px solid grey;
        border-collapse: collapse;
        padding: 5px;
    }
    table tr:nth-child(odd) {
        background-color: #f1f1f1;
    }
    table tr:nth-child(even) {
        background-color: #ffffff;
    }
</style>
    <table>
        <table border="1px solid black">
            <tr>
                <th ng-repeat="columnHeader in table.columnNames">
                    {{columnHeader}}
                </th>
            </tr>
            <tr ng-repeat="column in table.columns">
                {{$index}}
                <td ng-repeat="columnValue in column.colmnValues">
                    <input type="text" ng-model=model[column.id+$index] ng-value=columnValue ng-readonly='!($index == eEditable)' ng-change="inputChanged()" ng-dblclick="editing(column.id,$index)"/>
                </td>
            </tr>

        </table>
    </table>
{{count}}
{{timer}}
</body>
</html>
